.container{
    height: 300px;
    width: 310px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.circle-image {
    border-radius: 50%;
    text-align:"center";
  }

  
.li-holder{
    /* font-size: 14px; */
    padding-left: 5px;
    font-size: 13px;
}